@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-title: 'Playfair Display', serif;
  --font-subtitle: 'Raleway', sans-serif;
  --font-body: 'Lato', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.font-title { font-family: var(--font-title); }
.font-subtitle { font-family: var(--font-subtitle); }
.font-body { font-family: var(--font-body); }